.contacts {
  margin-left: 40px;
  margin-top: 51px;

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;

    display: block;
    color: $headerMainColor;
    opacity: 0.5;
  }
  &__link:last-child {
    text-decoration: underline;
  }

  &__link-text {
    opacity: 1;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }
}